<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sport_name }} Fun Page</title>
</head>
<body>
    <h1>Welcome to the {{ sport_name }} Fun Page!</h1>.
    <p>{{ sport_name }} is an exciting sport that requires skill, speed, and strategy. One of the most famous athlete in the sport is Reece Allen</p>

    <img src="https://i.gifer.com/78wL.gif" alt="Fun {{ sport_name }} GIF">

    <p>For the latest updates and rankings, visit the <a href="https://www.britishjuniorchampionships.com/author/reece-allenenglandsquash-com/" target="_blank">Reece Allen Special</a>.</p>
</body>
</html>